{%extends 'base.html'%}
{% load static%}
{%block content%}


  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                  <h1><span>Job</span> Recommendation</h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="img/logo.png" alt="" title=""> -->
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li class="active">
                    <a href="/job_recommend.html">Job Recommend</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  <!-- Start  Job recommend Form -->
  <div class="row" style="margin-top: 10%;margin-bottom: 5%;">
        {% if jobs.any%}
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Job Location</th>
                        <th>Company</th>
                        <th>Match</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for job in jobs%}
                            <tr>
                                <td>{{job.5}}</td>
                                <td>{{job.4}}</td>
                                <td>{{job.1}}</td>
                                <td>{{job.11|floatformat:2}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div id="team" class="our-team-area area-padding">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                      <h2>TrendS</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="team-top">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="single-team-member">
                        <div class="team-img">
                              <a href="#">
                                  <img src="{% static 'images/first.png'%}" alt="">
                              </a>
                          </div>
                      </div>
                    </div>
                    <!-- End column -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="single-team-member">
                              <div class="team-img">
                                  <a href="#">
                                      <img src="{% static 'images/second.png'%}" alt="">
                                  </a>
                              </div>
                      </div>
                    </div>
                    <!-- End column -->
                    <div class="row" style="margin-top: 10px;margin-bottom: 10px;"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="single-team-member">
                        <div class="team-img">
                          <a href="#">
                              <img src="{% static 'images/third.png' %}" alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- End column -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="single-team-member">
                        <div class="team-img">
                          <a href="#">
                              <img src="{% static 'images/fourth.png' %}" alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- End column -->
                  </div>
                </div>
              </div>
            </div>
        {%else%}
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="form contact-form">
                    <form method="POST" id="recommend_form">
                        {% csrf_token%}
                        <div class="form-group">
                            <label >Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label>Your Skills</label>
                            <input type="text" class="form-control" data-role="tagsinput" name="skills" />
                        </div>
                        <div class="text-center"><button id="find_job" type="button">Find Jobs</button></div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
        {%endif%}
  </div>
  <!-- End Job Recommend Form -->
  {%endblock%}